---
layout: default
title: 豆豆的文章
---
<h3>Are you joking?</h3>
<div class="page_lists">
	<div　class="row ">
	
		<div class="list-group">
    			{% for post in site.posts %}
    
      			 <a href="{{ post.url }}" class="list-group-item" target="_blank">
      				{% for tag in post.tags %}
					<span class="badge">{{ tag }}</span>
				{% endfor %}
      				<p class="post-title">{{ post.title }}</p>
                            <p class="post-date">发布时间:{{ post.date | date_to_string }}</p>
                     </a>
    			{% endfor%}
  		</div>
  	</div>
</div>